@font-face {
    font-family: 'designer';
    src: url(../fonts/DESIGNER.otf);
}
@font-face {
    font-family: 'big_noodle_titling';
    src: url(../fonts/bignoodletitling/big_noodle_titling_oblique.ttf);
}
@font-face {
    font-family: 'champagnes_limousines';
    src: url(../fonts/champagne_limousines/champagnes_limousines.ttf);
}
h1 {
    font-family: 'designer', 'Arial Black';
    font-size: 4em;
}
h2 {
    font-family: 'big_noodle_titling'; 
    text-align: center;
}
p {
    font-family: 'champagnes_limousines';
    font-size: 1.5rem;
}
h4 {
    color: #33adff;
    text-align: center;
}
.hello{
    font-family: 'designer', 'Arial Black';
}
.card{
    background-color: #c3c3c3;
    border-radius: 3.25rem;
    margin-bottom: 10px;
}
.card-title{
    color: white;
}

.card-title:hover {
    color: white;
}
.newest{
    background-color: #e6f2ff;
    border: 0px solid grey;
    margin-bottom: 5px;
}
.news {
    color: dodgerblue;
}
.info {
    float: right;
    color: grey;
}
.new_com {
    float: right;
    color: white;
}
.viewDate{
    color: grey;
    font-size: 1rem;
}
.viewComment{
    margin-left: 50px;
}
.com{
    background-color: #F5F5F5;
}
.titleInput{
    font-family: 'big_noodle_titling';
    font-size: 2rem;
}